.new-expense{
    margin: 1rem auto;
    background-color: rgba(176, 102, 230, 0.897);
    width: 50rem;
    max-width: 95%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
    
}